@import "settings";

@mixin font-sizes($size-map) {
	@each $breakpoint, $font-size in $size-map {
		@include breakpoint($breakpoint) {
			font-size: $font-size;
			line-height: calc(100vh - #{$font-size/2});
		};
	}
}

@mixin baseline-margin-top {
	@each $breakpoint, $font-size in $splash-logo-font-sizes {
		@include breakpoint($breakpoint) {
			margin-top: $font-size/3;
		};
	}
}

#splash {
	background-color: $splash-bg-color;
	font-family: $splash-font-family;
	font-style: italic;
	font-weight: bold;
	height: $splash-height;
	margin: 0;
	text-align: center;
	.logo {
		color: $splash-fg-color;
		font-family: inherit;
		font-style: inherit;
		font-weight: inherit;
		position: absolute;
		width: 100%;
		&::before {
			content: $splash-brand-logo-content;
			display: inline;
			letter-spacing: $splash-letter-spacing;
			@include font-sizes($splash-logo-font-sizes);
		}
	}
	.baseline {
		color: $splash-fg-color;
		font-family: inherit;
		font-style: inherit;
		font-weight: inherit;
		position: absolute;
		width: 100%;
		@include baseline-margin-top;
		&::before {
			content: $splash-brand-baseline-content;
			display: inline;
			@include font-sizes($splash-baseline-font-sizes);
			margin-left: 1ch;
		}
	}
}
