@import "settings";

@import "core/mixins";

@import "foundation-sites/scss/components/menu";
@import "foundation-sites/scss/components/title-bar";
@import "foundation-sites/scss/components/top-bar";
@import "foundation-sites/scss/components/sticky";

@include foundation-menu;
@include foundation-title-bar;
@include foundation-sticky;
@include top-bar-container;

.top-bar {
	font-family: 'Georgia';
	font-style: italic;
	font-weight: $topbar-font-weight;
	font-size: $topbar-font-size;
	width: 100%;
	#site-nav {
		background-color: $topbar-bg-color;
		height: $topbar-height;
		line-height: $topbar-line-height;
		transition: box-shadow $topbar-transition-duration ease-out;
		ul > li {
			color: $topbar-fg-color;
			&.active {
				color: $topbar-active-color;
			}
			a {
				color: inherit;
				&:hover {
					color: $topbar-active-color;
				}
			}
		}
	}
	&.is-stuck {
		#site-nav {
			@include elevation($level: $topbar-stuck-elevation);
			transition: box-shadow $topbar-transition-duration ease-in;
		}
	}
}
.title-bar {
	text-align: left;
	line-height: $topbar-height - $topbar-font-size/2;
	height: $topbar-height;
	a[data-toggle] {
		float: right;
		text-align: right;
		color: $topbar-fg-color;
		line-height: $topbar-height - $topbar-font-size/4;
	}
}
