@import "settings";

@mixin price-list-font-sizes-and-left-paddings {
	@each $breakpoint, $font-size in $price-list-font-sizes {
		@include breakpoint($breakpoint) {
			font-size: $font-size;
		};
	}
	@each $breakpoint, $padding in $price-list-left-paddings {
		@include breakpoint($breakpoint) {
			padding-left: $padding;
		};
	}
}

@mixin price-list-header-font-sizes($depth) {
	@each $breakpoint, $font-size in map-get($price-list-header-font-sizes, $depth) {
		@include breakpoint($breakpoint) {
			font-size: $font-size;
		};
	}
}

@mixin price-list-item-vertical-margins($depth) {
	@each $breakpoint, $margin in map-get($price-list-item-vertical-margins, $depth) {
		@include breakpoint($breakpoint) {
			margin: $margin 0;
		};
	}
}

.price-list {
	margin: 0;
	padding: 0;
	@include price-list-font-sizes-and-left-paddings;
	li {
		list-style-type: none;
	}
	header {
		margin: 0;
		font-family: 'Georgia';
		font-style: italic;
		font-weight: bold;
	}
	p {
		margin: 0 0 $paragraph-margin-bottom;
	}
	.price-table {
		tr {
			td {
				border: none;
				vertical-align: bottom;
				white-space: nowrap;
				&.center {
					& > hr {
						border: none;
						border-bottom: 2px dotted #999;
						height: 1ex;
						margin: 0;
						margin-bottom: 1ex;
					}
					text-align: bottom;
					width: 100%;
				}
				&.left {
					text-align: left;
				}
				&.right {
					text-align: right;
					font-weight: bold;
				}
			}
		}
		margin: 0 auto;
		width: 100%;
	}
	&[data-depth="0"] {
		padding-left: 0;
		& > li:not(:last-of-type) {
			@include price-list-item-vertical-margins($depth: 0);
		}
		header {
			@include price-list-header-font-sizes($depth: 0);
		}
	}
	&[data-depth="1"] {
		& > li:not(:last-of-type) {
			@include price-list-item-vertical-margins($depth: 1);
		}
		header {
			@include price-list-header-font-sizes($depth: 1);
		}
	}
	&[data-depth="2"] {
		& > li:not(:last-of-type) {
			@include price-list-item-vertical-margins($depth: 2);
		}
		header {
			@include price-list-header-font-sizes($depth: 2);
		}
	}
}
