{{#*inline "section"}}
	{{#if (existy id)}}
		<section id="{{id}}" class="content">
	{{else}}
		<section class="content">
	{{/if}}
		<div class="row columns">
			{{> @partial-block}}
		</div>
	</section>
{{/inline}}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		{{> head/title}}
		{{> head/styles}}
		{{> head/scripts}}
	</head>
	<body>
		{{> header}}
		<main>
			{{#if (existy page-partials)}}
				{{#each page-partials as |partial|}}
					{{#> section id=(section-id partial)}}
						{{> (partial) ../..}}
					{{/section}}
				{{/each}}
			{{else}}
				{{#> section}}{{{contents}}}{{/section}}
			{{/if}}
		</main>
		{{> footer}}
	</body>
</html>
