<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/assets/css/style.css" media="screen" title="no title">
		{{> head/title}}
	</head>
	<body>
		{{> menu }}
		{{{ contents }}}
	</body>
</html>
