<div id="site-menu-wrapper" data-sticky-container>
	<nav
		id="site-navigation-bar"
		class="top-bar"
		data-sticky-on="small"
		{{#if splash}}
			data-top-anchor="site-menu-wrapper"
		{{/if}}
		data-sticky
		data-margin-top="0">
		<div class="title-bar" data-responsive-toggle="site-nav" data-hide-for="medium">
			Menu <a data-toggle><i class="fa fa-bars"></i></a>
		</div>
		<div id="site-nav" class="menu-centered">
			<ul class="vertical medium-horizontal menu">
				{{#each menu.header}}
					{{#if (eq ../path this.path)}}
						<li class="active"><a>{{{menu-item-label this}}}</a></li>
					{{else}}
						<li><a href="{{slug}}">{{{menu-item-label this}}}</a></li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</nav>
</div>
