@import "settings";

#initiation,
#self-service,
#sewing-machine,
#training {
	ul {
		strong, em {
			&::after,
			&::before {
				display: none;
			}
		}
	}
	.info {
		background-color: darken($light-gray, 10);
		padding: .5rem;
		margin-bottom: $paragraph-margin-bottom;
		a {
			&::after,
			&::before {
				display: none;
			}
		}
		&::before {
			border-bottom: 1px solid darken($light-gray, 25);
			color: darken($light-gray, 50);
			content: 'Information pratiques';
			display: block;
			font-weight: bold;
			margin-bottom: .5rem;
			text-align: center;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
			}
		}
	}
}
