<h1>Contact</h1>
<div class="row">
	<div class="small-12 medium-6 columns">
		<div class="contact">
			<span class="contact-icon" data-icon="&#xf10b;">03.20.39.72.44</span>
		</div>
	</div>
	<div class="small-12 medium-6 columns">
		<div class="contact">
			<a href="/plan" class="contact-icon" data-icon="&#xf041;">mon Bar à Couture<br>32, rue Mourmant<br>59000 Lille</a>
		</div>
	</div>
</div>
<p>
	Vous pouvez également nous contacter en utilisant le formulaire
	ci-desssous.
</p>
<form action="https://formspree.io/julien@graziano.fr">
	<div id="form-message-wrapper" class="row columns"></div>
	<input type="text" name="_gotcha" style="display:none"/>
	<div class="row columns">
		<div id="_subject" class="input">
			<label for="input-subject"><i class="fa fa-pencil"></i></label>
			<input id="input-subject" type="text" placeholder="Sujet..."/>
		</div>
	</div>
	<div class="row columns">
		<div id="name" class="input">
			<label for="input-name"><i class="fa fa-user"></i></label>
			<input id="input-name" type="text" placeholder="Votre nom..."/>
		</div>
	</div>
	<div class="row columns">
		<div id="email" class="input">
			<label for="input-email"><i class="fa fa-envelope"></i></label>
			<input id="input-email" type="email" placeholder="Votre adresse email..."/>
		</div>
	</div>
	<div class="row columns">
		<div id="message" class="input">
			<textarea placeholder="Votre message..." rows="5"></textarea>
		</div>
	</div>
	<div class="row columns">
		<button type="submit" id="submit" class="button"><i class="fa fa-paper-plane"></i></button>
	</div>
</form>
