<h1>Contact</h1>
<div class="row">
	<div class="small-12 medium-6 columns">
		<div class="contact">
			<span class="contact-icon" data-icon="&#xf10b;">03.20.39.72.44</span>
		</div>
	</div>
	<div class="small-12 medium-6 columns">
		<div class="contact">
			<a href="/plan" class="contact-icon" data-icon="&#xf041;">mon Bar à Couture<br>32, rue Mourmant<br>59000 Lille</a>
		</div>
	</div>
</div>
<div class="row">

</div>
