<section id="intro" class="content">
	<div class="row columns">
		{{> pages/home/intro}}
	</div>
	<div class="row columns">
		{{> pages/home/concept}}
	</div>
</section>
<section id="opening-hours" class="content">
	<div class="row columns">
		{{> pages/home/opening-hours}}
	</div>
</section>
<section id="contact" class="content">
	<div class="row columns">
		{{> pages/home/contact}}
	</div>
</section>
