<section class="content">
	<div class="row columns">
		{{> home/intro}}
	</div>
	<div class="row columns">
		{{> home/concept}}
	</div>
</section>
<section class="content">
	<div class="row columns">
		<h1>Horaires d'ouverture</h1>
		<table class="opening-hours">
			<tbody>
				<tr>
					<td class="day">Mardi</td>
					<td class="center"><hr></td>
					<td class="hour">10H - 21H</td>
				</tr>
				<tr>
					<td class="day">Mercredi</td>
					<td class="center"><hr></td>
					<td class="hour">10H - 18H</td>
				</tr>
				<tr>
					<td class="day">Jeudi</td>
					<td class="center"><hr></td>
					<td class="hour">10H - 21H</td>
				</tr>
				<tr>
					<td class="day">Vendredi</td>
					<td class="center"><hr></td>
					<td class="hour">10H - 21H</td>
				</tr>
				<tr>
					<td class="day">Samedi</td>
					<td class="center"><hr></td>
					<td class="hour">10H - 19H</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row columns">
		<h1>Contact</h1>
		<div class="row">
			<div class="small-12 medium-6 columns">
				<div class="contact">
					<span class="contact-icon" data-icon="&#xf10b;">03.20.39.72.44</span>
				</div>
			</div>
			<div class="small-12 medium-6 columns">
				<div class="contact">
					<a href="/plan" class="contact-icon" data-icon="&#xf041;">mon Bar à Couture<br>32, rue Mourmant<br>59000 Lille</a>
				</div>
			</div>
		</div>
	</div>
</section>
