<section class="content">
	<div class="row columns">
		{{> pages/home/intro}}
	</div>
	<div class="row columns">
		{{> pages/home/concept}}
	</div>
</section>
<section class="content">
	<div class="row columns">
		{{> pages/home/opening-hours}}
	</div>
	<div class="row columns">
		{{> pages/home/contact}}
	</div>
</section>
