<h1>Horaires d'ouverture</h1>
<table class="opening-hours">
	<tbody>
		<tr>
			<td class="day">Mardi</td>
			<td class="center"><hr></td>
			<td class="hour">10H - 21H</td>
		</tr>
		<tr>
			<td class="day">Mercredi</td>
			<td class="center"><hr></td>
			<td class="hour">10H - 18H</td>
		</tr>
		<tr>
			<td class="day">Jeudi</td>
			<td class="center"><hr></td>
			<td class="hour">10H - 21H</td>
		</tr>
		<tr>
			<td class="day">Vendredi</td>
			<td class="center"><hr></td>
			<td class="hour">10H - 21H</td>
		</tr>
		<tr>
			<td class="day">Samedi</td>
			<td class="center"><hr></td>
			<td class="hour">10H - 19H</td>
		</tr>
	</tbody>
</table>
