@mixin shadow(
	$horizontal: 0px,
	$vertical: 0px,
	$blur-radius: 0px,
	$spread-radius: 0px,
	$color: $black) {
	$shadow-values: $horizontal $vertical $blur-radius $spread-radius $color;
	box-shadow: $shadow-values;
}

@mixin elevation($level) {
	@include shadow(
		$blur-radius: $level*16px,
		$spread-radius: $level*2px
	);
}

@mixin glow($color, $blur: 6px) {
	box-shadow: 0px 0px $blur 0px $color;
}

@mixin circle(
	$font-size: inherit,
	$size: 3rem
) {
	border-radius: 50%;
	font-size: $font-size;
	padding: 0;
	margin: .25rem;
	text-align: center;
	vertical-align: baseline;
	height: $size;
	width: $size;
	line-height: $size;
}

@mixin vertical-shadow(
	$width: 4px,
	$start-color: #000,
	$end-color: #fff
) {
	background: no-repeat;
	background-image:
		linear-gradient(to right, $end-color, $start-color),
		linear-gradient(to right, $start-color, $end-color);
	background-size: $width 100%, $width 100%;
	background-position:  left, right;
}

@mixin bright-vertical-band($amout: .25) {
	background-color: hsla(0, 0, 100, $amout);
}

@mixin three-columns-table(
	$class,
	$row-height: $global-lineheight,
	$center-hr-thickness: 2px,
	$center-hr-style: dotted,
	$center-hr-color: $gray,
	$center-hr-height: 1ex,
	$center-hr-margin: 1ch
) {
	table.#{$class} {
		border-collapse: collapse;
		border: none;
		color: inherit;
		margin: 0 auto $paragraph-margin-bottom;
		width: 100%;
		tr {
			td {
				border: none;
				font-size: inherit;
				white-space: nowrap;
				height: $row-height;
				&.center {
					& > hr {
						border: none;
						border-bottom:
							$center-hr-thickness
							$center-hr-style
							$center-hr-color;
						height: $center-hr-height;
						margin: 0 $center-hr-margin;
					}
					width: 100%;
				}
				&.day {
					text-align: right;
				}
				&.hour {
					text-align: left;
				}
			}
		}
	}
}
