@import 'foundation-sites/scss/util/util';
@import 'foundation-sites/scss/global';

$global-width: 800px;
$global-weight-normal: 400;
$global-weight-bold: 700;

$mbac-font-path: "/assets/fonts";

$black:        #232020;
$gray:         #5f5a5a;
$light-gray:   #e4e5e6;
$white:        #ffffff;
$red:          #f52a48;
$yellow:       #f7da00;
$green:        #2ecc71;
$blue:         #008bc8;
$purple:       #b4277c;

$foundation-palette: (
	primary:   $blue,
	secondary: $light-gray,
	success:   $green,
	warning:   $yellow,
	alert:     $red
);

$body-background: $light-gray;
$body-font-family: 'Raleway', sans-serif;

$paragraph-margin-bottom: 1rem;

$section-margin-bottom: 2rem;

$header-color: $gray;
$header-font-family: 'Georgia', serif;
$header-font-style: italic;
$header-font-weight: 700;
$header-sizes: (
	small: (
		h1: 2rem,
		h2: 1.5rem,
		h3: 1.25rem,
		h4: 1rem,
		h5: 1rem,
		h6: 1rem
	),
	medium: (
		h1: 2rem,
		h2: 1.5rem,
		h3: 1.25rem,
		h4: 1rem,
		h5: 1rem,
		h6: 1rem
	)
);

$h1-margin-top: 4rem;
$h1-margin-bottom: 1.5rem;
$h2-margin-bottom: .5rem;
$h3-margin-bottom: .25rem;

$fa-font-path: $mbac-font-path;

$callout-background-fade: 5%;
$callout-font-color: $black;
$callout-padding: .25rem;
$callout-radius: 3px;
$callout-margin: 0 0 2rem 0;

$closebutton-offset-horizontal: .25rem;
$closebutton-offset-vertical: .25rem;
$closebutton-size: .8rem;
$closebutton-color-hover: $gray;

$topbar-padding: 0;
$topbar-background: transparent;
$topbar-bg-color: $blue;
$topbar-fg-color: $white;
$topbar-active-color: $yellow;
$topbar-font-size: 1.2rem;
$topbar-font-weight: 700;
$topbar-height: 3rem;
$topbar-line-height: $topbar-height + $topbar-font-size;

$menu-item-background-active: transparent;
$menu-icon-spacing: 0;
$menu-item-padding: .5rem 1rem;

$splash-bg-color: $black;
$splash-fg-color: $white;
$splash-font-family: 'Georgia', serif;
$splash-logo-font-size: 10rem;
$splash-baseline-font-size: 1.625rem;
$splash-letter-spacing: -.1em;
$splash-height: calc(100vh - #{$topbar-height});

$opening-hours-font-size: inherit;
$opening-hours-hr-width: 2px;
$opening-hours-hr-style: dotted;
$opening-hours-hr-color: $gray;
$opening-hours-hr-height: 1ex;
$opening-hours-hr-margin-bottom: 1ex;

$contact-icon-bg-color: $black;
$contact-icon-fg-color: $white;
$contact-icon-size: 4rem;
$contact-icon-bottom-margin: .5rem;

$price-list-font-sizes: (
	small: .75rem,
	medium: 1rem,
	large: 1rem
);
$price-list-left-paddings: (
	small: .25rem,
	medium: .5rem,
	large: 1rem
);
$price-list-header-font-sizes: (
	0: (
		small: 1rem,
		medium: 1.25rem,
		large: 1.5rem
	),
	1: (
		small: .8rem,
		medium: 1rem,
		large: 1.25rem
	),
	2: (
		small: inherit,
		medium: 1rem,
		large: 1rem
	)
);
$price-list-item-vertical-margins: (
	0: (
		small: 1rem,
		medium: 1rem,
		large: 1rem
	),
	1: (
		small: 1rem,
		medium: .5rem,
		large: .5rem
	),
	2: (
		small: .25rem,
		medium: .25rem,
		large: .25rem
	)
);
