@import "settings";

html {
	font-size: 12pt;
	@include breakpoint(medium) {
		font-size: 16pt;
	}
}

section.content {
	h1 {
		margin: $h1-margin-top 0 $h1-margin-bottom;
	}
	h2 {
		margin-bottom: $h2-margin-bottom;
	}
	h3 {
		font-family: Raleway;
		font-style: normal;
		margin-bottom: $h3-margin-bottom;
	}
	ul {
		li {
			&::after, &::before {
				content: none;
			}
		}
	}
}
