@import "settings";
@import "mixins";
@import "font-awesome/scss/font-awesome";

@import "foundation-sites/scss/grid/grid";
@import "foundation-sites/scss/typography/typography";
@import "foundation-sites/scss/components/visibility";

@include foundation-grid;
@include foundation-global-styles;
@include foundation-typography;
@include foundation-visibility-classes;

body > main > section {
	margin-bottom: $section-margin-bottom;
}

@import "buttons";
@import "callout";
@import "contact";
@import "footer";
@import "opening-hours";
@import "site-navigation";
@import "splash";
@import "typography";
